<div class="container">
	<h1> All Posts</h1>

	<%if @posts == nil%>
		<h3 class="error">There are no posts yet.</h3>
	<%else%>
		<%@posts.each do |post|%>
				<h3><%=post.title%></h3>
				<h4><%=post.content%></h4>
		<%end%>
	<%end%>

	<form action="/posts/new">
    <input type="submit" value="Create Post">
  </form>

	<br>
	<%if @wrong_title ==true%>
		<h3 class="error">No post existst with that title</h3>
	<%end%>

	<%if @no_tag ==true%>
		<h3 class="error">No tag existst with that title</h3>
	<%end%>

	<form action="/posts/by_tag" method="GET">
  	<label for="find_post">Enter a tag to find associated posts: </label>
  	<input type="text" id="find_post" name="tag_title">
    <input type="submit" value="Find Posts">
  </form>

  <form action="/posts/edit" method="GET">
  	<label for="edit_post">Enter a title to edit: </label>
  	<input type="text" id="edit_post" name="post_title">
  	<input type="submit" value="Edit Post">
  </form>



<!-- DO NOT DELETE!!!=======HIDDEN FOR TESTING================ -->
<!-- DO NOT DELETE!!!=======HIDDEN FOR TESTING================ -->

<!--   <form action="/posts/delete" method="POST">
  	<label for="delete_post">Enter a title to delete: </label>
  	<input type="text" id="delete_post" name="post_title">
    <input type="submit" value="Delete Post">
  </form> -->

</div>